* {margin:0;padding:0;}

img,
fieldset,
.reply input.text,
.friendly input.text,
.reply textarea {border:none;}

fieldset input {padding:3px;}

ul,
li {list-style:none;}

body{text-align:left;}
h1,
h3,
.timeta,
.navigation,
#postail,
.rssfeed img,
.comstyle,
.cmntcnt,
.linkpage ul li.categories ul li,
.linkpage ul li.arcmon ul li,
.linkpage ul li.arctag ul li,
.notfound p {text-align:center;}

blockquote
{
    background:url(../images/quote.png) no-repeat 20px 0;
    color:#666;
    padding:0 0 0 25px;
}
table{border: 0px;border-collapse: collapse;border-color: gray;}
code
{
    font:12px Consolas;
    color:#666;
    border:1px dashed #ccc;
    background:#f9f9f9;
    line-height:1.8;
    margin:5px 0;
    max-width:480px;
}

code.small {font:bold 10px Georgia;}

.right {
    float: right;
}

.clear {
    background-color: transparent;
    border: 0;
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

#top {
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E5E5E5');
    height: 30px;
    line-height: 30px;
    margin: -40px 0px 20px 0px;
}

#top a, #top span span{
    border-right: 1px solid #D9D9D9;
    color: #4C4C4C;
    float: left;
    line-height: 14px;
    margin: 6px 0;
    padding: 0 6px;
    font-weight: normal;
    TEXT-DECORATION:none
}

#top a:hover, #top a.hover {
    background-color: transparent;
    border-left-color: #707070;
    border-radius: 0 13px 13px 0;
    margin: 0;
    line-height: 30px;
}

#loading,
#footer .b2t,
#footer .g2b,
.nav li.patharrow
{
    background-repeat:no-repeat;
    background-position:center center;
}

p span.tips,
.commentlist li.backward,
div.aflow,
.linkpage ul li ul li:hover,
#loading
{
    background-color:#EBFBEB;
    border:2px solid #D7F6D7;
}

body
{
    font:12px Tahoma,Verdana,Arial,helvetica,sans-serif;
    color:#333;
    background:#707070 url(../images/background.png) repeat-x;
    margin:40px 0;
}

#loading
{
    z-index:3;
    position:fixed;
    left:50%;
    top:13px;
    height:23px;
    width:113px;
    margin-left:-440px;
    top:13px;
    background-image:url(../images/loading.gif);
}

a,
.trackpings li span a:hover
{
    color:#484848;
    text-decoration:underline;
}
a
{
	text-decoration: none;
}
a:hover {color:#6CC;}

strong,
h2,
.commentlist li cite,
.reply label,
.reply button,
.contact span,
.nav li a,
.trackpings li span a {font-weight:700;}

a:hover,
.post .timeta a,
#content .post h3 a,
#content .related a,
#postail a,
#sidebar a,
.cmntcnt a,
cite a,
.trackpings li span a,
.linkpage ul li ul li a,
.nav li a,
.post .entry p a {text-decoration:none;}

hr,
#header .submit,
#headerf,
.meta,
.backward .cmntcnt {display:none;}

#header #discription,
#header #title a {text-indent:-10000em;}

.post .entry p a 
{
    color:#666;
    font-weight:bold;
    margin:0 2px;
    border-bottom:2px dotted #999;
    padding:0 0 1px;
}

.post .entry p a:hover {border-bottom:2px solid #999;}

#page
{
    background:#fff;
    width:880px;
    text-align:left;
    margin:40px auto 0;
    border:1px solid #aaa;
}

#header
{
    height:110px;
    width:880px;
    background:url(../images/nav.png) repeat-x;
}

#content
{
    width:644px;
    float:left;
}

#sidebar
{
    float:right;
    width:235px;
    border:1px solid #c2c2c2;
    border-right:none;
    border-top:none;
    padding:0 0 20px;
    word-wrap:break-word;
    overflow: hidden;
}
.commentsli
{
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    -o-text-overflow:exllipsis;
    word-wrap: normal;
	width: 190px;
}
#footer
{
    background:#444;
    padding: 10px;
    margin:0 auto;
    color:#fff;
    font:bold 10px Verdana;
}
#footer a
{
    text-decoration:none;
}
#footertext
{
    font-family:"Microsoft Jhenghei";
    text-align: center;
}
#header p#title a,
#header h1#title a
{
    background:url(../images/images.gif) no-repeat -0px -32px;
    width:174px;
    height:47px;
    margin:23px 0 20px 26px;
    float:left;
}

#header h1#title a:hover,
#header p#title a:hover {background-position:0 -79px;}

#footer form
{
    top:59px;
    right:20px;
    position:absolute;
}

.nav
{
    float:right;
    clear:both;
    margin:-117px 0 0 220px;
    line-height:20px;
}

.nav li
{
    float:left;
    margin:0 4px;
    z-index:2;
    line-height:220%;
    border:1px solid #aaa;
    border-bottom:none;
	border-radius: 6px 6px 0px 0px;
}

.nav li:hover {background-color:#eee;}

.nav li a
{
    color:#999;
    padding:5px 10px;
}

.nav li a:hover {color:#666;}

#cse-search-box input.text {width:182px;}

#content .post
{
    margin:0 0 40px;
    padding:0 39px;
}

#content .post h1,
#content .post h3
{
    font:bold 18px "Microsoft JhengHei";
    letter-spacing:1px;
    line-height:180%;
}

#content .post .index h3
{
    font-size:16px;
    margin-left:-20px;
    letter-spacing:.5px;
}

.post .index p a:hover {text-decoration:underline;}

#content .post h3 {text-align:left;}

.index h3 a {padding:0 0 0 20px;}

.post .timeta,
.post small
{
    font:bold 10px Verdana;
    color:#666;
}

.post .timeta a:hover,
.post small a:hover 
{
    color:#4A551C;
    text-decoration:underline;
}

.post .timeta
{
    padding:3px 0;
    border-top:1px solid #aaa;
    margin:0 90px;
    height:18px;
    background:#fff;
}

.post .index .timeta {margin:0 0 0 330px;}

.post abbr
{
    color:#333;
    cursor:n-resize;
    font-size:12px;
}

.post .entry 
{
    font-size:13px;
    line-height:180%;
}

.post .entry p
{
    margin:10px 0 18px;
    text-indent:26px;
}

.post .index .entry p
{
    margin:10px 0;
    text-indent:0;
}

.post .entry ul li
{
    text-indent:26px;
    list-style:disc inside;
}

.post .entry ul {margin:10px 0 18px;}

.post p.left img,
.post p.right img
{
    vertical-align:middle;
    padding-right:5px;
    margin:5px 0;
}

.post p.left {float:left;}

.post p.right {float:right;}

#postail
{
    font:italic bold 11px Verdana;
    background:url(../images/misc.png) repeat-x;
    padding:5px;
    border:2px solid #eee;
    line-height:180%;
}

.index
{
    padding:0 20px;
    margin:15px 0 0;
}

#sidebar ul li {padding:0 20px;}

#sidebar ul li.rssfeed {margin:0 20px 10px;}

#sidebar .rssfeed img {vertical-align:middle;}

#sidebar ul
{
    color:#666;
    margin:0 0 18px;
}

.side
{
    font:bold 16px "Microsoft Jhenghei";
    color:#555;
    line-height:38px;
    display:inline;
}

#sidebar ul li ul,
#page,
#sidebar ul li ul li,
.commentlist,
.commentlist li,
.wp-smiley {position:relative;}

#sidebar ul li ul li
{
    padding:4px 6px;
    overflow:hidden;
    z-index:2;
}

#sidebar a
{
    line-height:20px;
    color:#333;
    font-family:Tahoma;
    word-wrap:break-word;
}

div.aflow
{
    z-index:1;
    position:absolute;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

a.ad
{
    float:right;
    margin:10px 40px 0 0;
}

.comstyle
{
    margin:0 0 20px;
    font:small-caps bold 16px Verdana;
    letter-spacing:2px;
}

ul.trackpings {margin:30px 50px 40px 0;}

.comstyle span {color:#FF8080;}

.cmntcnt 
{
    font:italic 32px georgia;
    left:-65px;
    position:absolute;
    top:0;
    display:block;
    line-height:50px;
    width:60px;
    height:50px;
}

.commentlist {padding:0 0 40px 0;}

.commentlist .alt
{
    border-top:1px solid #D1D9B4;
    border-left:1px solid #D1D9B4;
}

.commentlist .altline
{
    border-top:1px solid #D1D9B4;
    border-right:1px solid #D1D9B4;
}

.commentlist li
{
    margin:0 40px 0 85px;
    padding:10px;
}

.commentlist li .list {margin:0 5px;}

.commentlist li img.gravatar
{
    padding:2px 5px;
    background:url(../images/images.gif) no-repeat -93px -133px;
}

.commentlist li cite
{
    font-size:12px;
    color:#666;
    padding:15px 5px;
    float:right;
    font-style:normal;
    line-height:20px;
}

.commentlist li small
{
    font-size:12px;
    margin-bottom:10px;
    color:#999;
    font-weight:400;
}

.commentlist li .list p
{
    font-size:13px;
    line-height:1.8;
    padding:10px 10px 0;
}

.trackpings li
{
    line-height:18px;
    overflow:hidden;
    margin:15px 0 0;
    padding:15px 15px 15px 70px;
    border:1px solid #ddd;
    border-left:none;
    background:#f8f8f8;
}

.trackpings li span {line-height:23px;}

.trackpings li span a {color:#555;}

.reply
{
    margin:10px 0 0 85px;
    background:url(../images/bstar.gif) no-repeat;
    position: relative;
}

.reply input.text
{
    width:200px;
    border-bottom:1px solid #ccc;
    color:#666;
    background:transparent;
}

.reply input.text:focus {border-bottom:1px solid #999;}

.reply input,
.reply textarea {font-size:1.2em;}

.reply label
{
    font-size:14px;
    display:inline-block;
    line-height:16px;
    width:50px;
    color:#333;
    font-style:italic;
    margin:0 0 0 10px;
}

.reply textarea
{
    background:url(../images/underline.gif);
    width:492px;
    height:160px;
    padding:0 3px;
    line-height:22px;
    overflow:auto;
    margin:-5px 0 0;
}

#replyForm {
    margin: 10px 0 0 10px;
}

.reply p
{
    color:#666;
    margin:0 0 14px;
}

.reply p.smilies
{
    width:140px;
    float:right;
    margin:15px 65px 20px 0;
    cursor:pointer;
}

p.smilies img {padding:2px;}

.reply button
{
    cursor:pointer;
    border:2px solid #999;
    background:#f8f8f8;
    color:#888;
    font-size:12px;
    padding: 0 3px;
    height:28px;
}

.reply button:hover {background:#eee;}

.commentlist li.backward
{
    position:absolute;
    z-index:5;
    padding:5px 10px;
    width:450px;
}

img.atreply
{
    display:none;
    cursor:pointer;
    float:left;
    margin-right:5px;
}

span.tips
{
    padding:1px 4px;
    position:absolute;
    font-size:12px;
    margin-top:-4px;
    display:none;
}

ul.endnotes
{
    margin:30px 50px 40px 0;
    padding:20px 0 20px 80px;
    border:1px solid #ddd;
    border-left:none;
    background:#f8f8f8;
    line-height:240%;
    font-size:13px;
}

ul.endnotes li {list-style:circle outside;}

.linkpage
{
    clear:both;
    margin:0;
    padding:0 40px;
}

#content h2.pagetitle
{
    margin:0 20px;
    color:#999;
}

#content h2
{
    font-size:15px;
    letter-spacing:-1px;
    background:url(../images/posttitle.png) no-repeat 0 25px;
    margin:6px 0;
    padding:0 0 15px;
}

.linkpage ul li
{
    list-style-type:none;
    display:block;
    width:100%;
    float:left;
    margin:0 0 10px;
    padding:0;
}

.linkpage ul li ul li
{
    width:49%;
    float:left;
    line-height:28px;
    margin:0;
    border:2px solid transparent;
}

.linkpage ul li ul li img
{
    width:16px;
    height:16px;
    padding:7px 3px 7px 5px;
    float:left;
}

.linkpage ul li ul li a {line-height:30px;}

.linkpage ul li.arcmon ul li {width:19%;}

.linkpage ul li.arctag ul li {width:32.5%;}

.linkpage ul li.arcmon ul li a,
.linkpage ul li.arctag ul li a {padding-left:0;}

.fanfou_statuses ul li
{
    text-indent:0;
    margin:0 0 15px;
    padding:2px 9px;
}

#cse-search-results {padding:10px 0 0 30px;}

.contact span
{
    font-size:16px;
    color:#999;
    background:#f8f8f8;
    padding:2px 5px;
}

#footer p 
{
    line-height:12px;
    padding:9px;
    text-align:center;
}

#footer a {color:#eee;}

#footer a:hover {color:#f9f9f9;}

#footer .b2t,
#footer .g2b
{
    z-index:2;
    position:fixed;
    bottom:20%;
    left:10px;
    cursor:pointer;
    width:38px;
    height:68px;
}
#footer div.b2t
{
    background:url(../images/images.gif) no-repeat -48px -133px;
}
#footer div.g2b
{
    background:url(../images/images.gif) no-repeat -0px -133px;
    top:80% !important;
    bottom:auto;
}

.navigation {margin:0 0 25px;}

.navigation .index {margin:50px 0 0;}

.wp-pagenavi a,
.wp-pagenavi a:link
{
    padding:2px 7px 2px 7px;
    margin:2px;
    text-decoration:none;
    border:1px solid #dddfde;
    color:#97A0A9;
    background-color:#f2f4f3;
}

.wp-pagenavi a:hover
{
    border:1px solid #d1d2d3;
    color:#7B8691;
    background-color:#fff;
}

.wp-pagenavi a:active
{
    padding:2px 7px 2px 7px;
    margin:2px;
    text-decoration:none;
    border:1px solid #dddfde;
    color:#97A0A9;
    background-color:#f2f4f3;
}

.wp-pagenavi span.pages
{
    padding:2px 4px 2px 4px;
    font-weight:bold;
    margin:2px;
    color:#69b2e1;
    border:1px solid #bae4fe;
    background-color:#e7f5fe;
}

.wp-pagenavi span.current
{
    padding:2px 7px 2px 7px;
    margin:2px;
    font-weight:bold;
    border:1px solid #bae4fe;
    color:#69b2e1;
    background-color:#e7f5fe;
}

.wp-pagenavi span.extend
{
    margin:5px;
    color:#69b2e1;
}

#postail a {background:none;}

.nav li.patharrow
{
    border:none;
    background-image:url(../images/pathnext.gif);
    text-indent:-9999em;
    width:18px;
    margin:0 2px;
}

.nav li.patharrow:hover {background-color:transparent;}

li.current_page_item {background:#eee;}

.entry p.code
{
    text-indent:0;
    margin:10px 26px 18px;
    background:#f8f8f8;
    border:1px dashed #ccc;
    padding:5px 10px;
    font:12px "Lucida Console";
    color:#666;
    line-height:180%;
}

.advise
{
    display:none;
    left:216px;
    width:400px;
    padding:10px;
    position:absolute;
    top:22px;
    background:url(../images/dotb.png);
    color:#eee;
}

.advise a
{
    color:#fff;
    font-weight:bold;
}
.twitter
{
    position:absolute;
    height:24px;
    width:142px;
    background:url(../images/images.gif) no-repeat 1px -2px;
    top:-25px;
    left:0;
    cursor:pointer;
}

.xmas
{
    background:url(../images/xmas.png);
    height:83px;
    width:80px;
    position:absolute;
    left:-54px;
    top:50px;
}

#share
{
    position:relative;
    width:180px;
    min-height:40px;
    float:right;
    background:url(../images/images2.gif) no-repeat -0px -252px;
}

#share ul
{
    width:180px;
    height:207px;
    background:url(../images/images2.gif) no-repeat -0px -0px;
    position:absolute;
    top:-9999px;
    left:0;
    margin:0;
}

#share ul li
{
    float:left;
    width:80px;
    margin:26px 0 -5px 5px;
    cursor:pointer;
    text-indent:-9999em;
    list-style:none;
}

#ajax_comments_wrapper {margin-top:60px;}

.authorgra {display:none;}

.authorgra img
{
    margin:15px 0 2px 20px;
    border:3px double #ccc;
    float:left;
}

.authorgra span
{
    float:left;
    margin:44px 0 0 20px;
    color:#666;
}

#content .post .entry h3 
{
    font-size: 15px; 
    font-weight: 400;
}

#content .post .entry em 
{
    font-style: italic; 
    font-weight: 400; 
    padding: 0 3px; 
    color: #222;
}

#content .post .entry ol {margin: 0 40px;}

#content .post .entry ol li {list-style: decimal outside;}
#adsensefirst, #adsenselast {
    max-width: 600px;
    max-height: 60px;
    text-align: left;
    border: #AAA outset 1px;
    padding-left: 15px;
    padding-right: 30px;
    background: url(../images/ad.png) 0px 4px no-repeat;
}
#relatedclick{
    margin:3px 220px 10px 0;
    padding:3px;
    text-align:left;
    border-top:1px solid #DDD;
    border-left:none;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;
    color:inherit;
    background:#f8f8f8;
    line-height:240%;font-size:13px
}
#relatedul{
    padding:10px 0 10px 80px;
    border-bottom:1px solid #DDD;
    line-height:200%;
    font-size:13px
}

/* start tags */
#tags {
    list-style: none;
}

#tags li {
    float: left;
    list-style: none;
    height: 38px;
}

#tags a:hover {
    text-shadow: 0 0 2px #555555;
}

#tags a {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #555555;
    float: left;
    margin: 3px 6px;
    padding: 3px 12px;
    text-decoration: none;
}

#tags .tags1 {
    font-size: 12px;
    font-weight: normal;
}

#tags .tags2 {
    font-size: 14px;
    font-weight: normal;
}

#tags .tags3 {
    font-size: 16px;
    font-weight: normal;
}

#tags .tags4 {
    font-size: 18px;
    font-weight: bold;
}

#tags .tags5 {
    font-size: 20px;
    font-weight: bold;
}
/* end tags */