#wrap{ margin:0 auto; padding:0; width:100%; background:url(../images/side-bg.gif) repeat-y right;}
#maincontent{ float:left; margin:0 0 0 -271px; padding:0; display:inline;width: 100%;}
#maincontent .forFlow{ margin:0 0 0 271px;}
#sidebar{ float:right;  margin:10px; padding:0; width:250px; display:inline;  }