#wrap{margin:0 auto; padding:0; width:900px; border-left:3px solid #424242; border-right:3px solid #424242;}
#maincontent{float:right; margin:0 0 0 0px; padding:0; display:inline;width: 100%;}
#maincontent .forFlow{margin:0 0 0 0px; float: none; width: auto;}
#sidebar{display: none;}